[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
python-dotenv = "*"
starlette = "*"
uvicorn = "*"
watchgod = "*"
websockets = "*"
wavio = "*"
whisper = {git = "https://github.com/openai/whisper.git"}
openai = "*"
asgiref = "*"
onnxruntime = "*"
torchaudio = "*"
asyncio = "*"
aiohttp = "==3.8.3"
torch = "*"
replicate = "*"
scipy = "*"
langchain = "*"
wikipedia = "*"
wolframalpha = "*"

[dev-packages]
autopep8 = "*"

[requires]
python_version = "3.9"
