[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
python-dotenv = "*"
whisper = "*"
starlette = "*"
uvicorn = "*"
watchgod = "*"
websockets = "*"

[dev-packages]
autopep8 = "*"

[requires]
python_version = "3.10"